@page
@model CoffeeCrazy.Pages.Login.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <div>
        <label for="Email">Email</label>
        <input type="text" asp-for="Email" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="password" asp-for="Password" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit">Login</button>
</form>

<div>
    <a asp-page="/Login/Password/ForgotPassword" class="btn btn-link">Glemt din password?</a>
</div>


@if (Model.ErrorMessage != null)
{
    <div class="text-danger">@Model.ErrorMessage</div>
}