@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Skift Password";
}

<h1>TO CHANGE PASSWORD WOULD YOU LIKE. YES. HRRRM</h1>

<form method="post">
    <div>
        <label for="CurrentPassword">Nuværene Password</label>
        <input type="password" asp-for="CurrentPassword" required />
    </div>
    <div>
        <label for="NewPassword">Nyt Password</label>
        <input type="password" asp-for="NewPassword" required />
    </div>
    <div>
        <label for="RepeatNewPassword">Skriv igen Password</label>
        <input type="password" asp-for="RepeatNewPassword" required />
    </div>
    <button type="submit">Skift Password</button>
</form>

@if (Model.ErrorMessage != null)
{
    <div class="text-danger">@Model.ErrorMessage</div>
}
@if (Model.SuccessMessage != null)
{
    <div class="text-success">@Model.SuccessMessage</div>
}
