@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Skift Password";
}
<div class="card shadow p-4">

    <h3>Skift Password</h3>

    <form method="post">
        <div class="mb-2">
            <label>Nuværende Password</label>
            <input asp-for="CurrentPassword" class="form-control" placeholder="Nuværende Password" required />
        </div>

        <div class="mb-2">
            <label>Nyt Password</label>
            <input asp-for="NewPassword" class="form-control" placeholder="Ny Password" required />
        </div>

        <div class="mb-2">
            <label>Skriv igen ny password</label>
            <input asp-for="RepeatNewPassword" class="form-control" placeholder="Skriv igen ny password" required />
        </div>

        <div class="mt-2">
            <a class="btn btn-warning">Skift Password</a>
            <a class="btn btn-dark" asp-page="/Users/Details" asp-route-id="@HttpContext.Session.GetInt32("UserId")">Tilbage</a>
        </div>
    </form>

    @if (Model.ErrorMessage != null)
    {
        <div class="text-danger">@Model.ErrorMessage</div>
    }
    @if (Model.SuccessMessage != null)
    {
        <div class="text-success">@Model.SuccessMessage</div>
    }
</div>