@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Glemt kodeord";
}

<h1>Glemt kodeord</h1>

<form method="post">
    <div>
        <label for="Email">Intast din Email</label>
        <input asp-for="Email" type="email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send nyt kodeord på Email</button>
</form>

@if (Model.Message != null)
{
    <p class="text-success">@Model.Message</p>
}
