@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Glemt kodeord?";
}
<main style="flex-grow: 1; display: flex; justify-content: center; align-items: center; width: 100%; padding-top: 300px;">
    <div class="center-container card shadow p-4" style="width: 100%; max-width: 400px;">
        <h1 class="text-center mb-4">Indtast din Email</h1>
        <form method="post">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-envelope"></i>
                    </span>
                    <input type="text" id="Email" class="form-control" asp-for="Email" required />
                </div>
                <span asp-validation-for="Email" class="text-danger small"></span>
                <div class="text-center mt-3">
                <button type="submit" class="bi bi-envelope-arrow-up btn btn-dark w-100"> Send engangskode til Email</button>
                </div>
        </form>
    </div>
    <div>
    @if (Model.Message != null)
    {
        <div class="text-danger text-center mt-2">@Model.Message</div>
    }
    </div>
</main>


