@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Nyt Password";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
        <h1 class="text-center mb-4">Skift kodeord</h1>
        <form method="post">
            @if (!Model.IsTokenValidated)
            {
                <div class="mb-3">
                    <label for="Token" class="form-label">Indtast engangskode</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-key bi bi-check"></i>
                        </span>
                        <input asp-for="Token" class="form-control" required />
                    </div>
                    <span asp-validation-for="Token" class="text-danger small"></span>
                </div>
                <button type="submit" class="btn btn-dark w-100">Godkend kode</button>
            }
            else
            {
                <input type="hidden" asp-for="Token" />
                <div class="mb-3">
                    <label for="NewPassword" class="form-label">Nyt Password</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-lock"></i>
                        </span>
                        <input asp-for="NewPassword" type="password" class="form-control" required />
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label for="ConfirmPassword" class="form-label">Gentag Password</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-check"></i>
                        </span>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" required />
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Reset Password</button>
            }
        </form>

        @if (Model.Message != null)
        {
            <div class="alert alert-danger mt-3">@Model.Message</div>
        }
    </div>
</div>