@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Nyt Password";
}

<h1>Nyt Password</h1>

@if (!Model.IsTokenValidated)
{
    <form method="post" asp-page-handler="ValidateToken">
        <div>
            <label for="Token">Intast engangskode</label>
            <input asp-for="Token" class="form-control" required />
            <span asp-validation-for="Token" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Godkend kode</button>
    </form>
}
else
{
    <form method="post">
        <input type="hidden" asp-for="Token" />
        <div>
            <label for="NewPassword">Nyt Password</label>
            <input asp-for="NewPassword" type="password" class="form-control" required />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div>
            <label for="ConfirmPassword">Gentag Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" required />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
}

@if (Model.Message != null)
{
    <p class="text-danger">@Model.Message</p>
}
