@page
@model CoffeeCrazy.Pages.Jobs.CreateModel
@{
    ViewData["Title"] = "Opret opgavesæt";
}

<h1>Opret Opgavesæt</h1>

<form method="post">

    <div class="form-group">
        <label for="Title">Titel</label>
        <input type="text" class="form-control" id="Title" asp-for="JobTemplate.Title" />
        <span asp-validation-for="JobTemplate.Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Assignments</label>
        @foreach (var assignment in Model.Jobs)
        {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="SelectedAssignments" value="@assignment.AssignmentId" id="assignment-@assignment.AssignmentId" />
                    <label class="form-check-label" for="assignment-@assignment.AssignmentId">
                    @assignment.Title
                    </label>
                </div>
        }
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
