@page
@model CoffeeCrazy.Pages.Jobs.CreateModel
@{
    ViewData["Title"] = "Opret opgavesæt";
}

<h1>Opret Opgavesæt</h1>

<form method="post">
    <div>
        <label for="JobTemplateId">Task Template</label>
        <select id="JobTemplateId" name="JobTemplateId" class="form-control">
            @foreach (var template in Model.TaskTemplates)
            {
                <option value="@template.JobTemplateId">@template.Title</option>
            }
        </select>
    </div>

    <div>
        <label for="MachineId">Vælg Kaffemaskine</label>
        <select id="MachineId" name="MachineId" class="form-control">
            @foreach (var Machine in Model.Machines)
            {
                <option value="@Machine.MachineId">@Machine.Placement</option>
            }
        </select>
    </div>

    <div>
        <label for="FrequencyId">Hvor tit?</label>
        <input id="FrequencyId" name="FrequencyId" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Opret opgave</button>
</form>