@page
@model CoffeeCrazy.Pages.Jobs.CreateModel
@{
    ViewData["Title"] = "Opret opgavesæt";
}

<h1>Opret Opgavesæt</h1>

<form method="post">
    <div>
        <label>Task Template</label>
        <select asp-for="NewJob.JobTemplateId" class="form-control">
            @foreach (var template in Model.TaskTemplates)
            {
                <option value="@template.JobTemplateId">@template.Title</option>
            }
        </select>
        <span asp-validation-for="NewJob.JobTemplateId" class="text-danger"></span>
    </div>


    <div>
        <label>Vælg Kaffemaskine</label>
        <select asp-for="NewJob.MachineId" class="form-control">
            @foreach (var Machine in Model.Machines)
            {
                <option value="@Machine.MachineId">@Machine.Placement</option>
            }
        </select>
        <span asp-validation-for="NewJob.MachineId" class="text-danger"></span>
    </div>
    <div>
        <label>Hvor tit?</label>
        <input asp-for="NewJob.FrequencyId" class="form-control" />
        <span asp-validation-for="NewJob.FrequencyId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Opret opgave</button>
</form>