@page
@model CoffeeCrazy.Pages.Jobs.CreateModel
@{
    ViewData["Title"] = "Opret Opgave";
}
<div class="card shadow p-4">
    <div class="mb-2">
        <h1>Opret Opgave</h1>
    </div>

    <form method="post">
        <div class="mb-2">
            <label>Titel</label>
            <input class="form-control" asp-for="NewJob.Title" />
            <span asp-validation-for="NewJob.Title" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label>Description</label>
            <input class="form-control" asp-for="NewJob.Description" />
            <span asp-validation-for="NewJob.Description" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label>Hvor tit?</label>
            <select class="form-select" asp-for="NewJob.FrequencyId">

                <option value=1>Daglig</option>
                <option value=2>Ugenligt</option>
                <option value=3>Månedligt</option>

            </select>
            <span asp-validation-for="NewJob.FrequencyId" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label>Vælg Kaffemaskine</label>
            <select asp-for="NewJob.MachineId" class="form-control">
                <option value=99>Alle maskiner</option>
                @foreach (var Machine in Model.Machines)
                {
                    <option value="@Machine.MachineId">@Machine.Placement</option>
                }
            </select>
            <span asp-validation-for="NewJob.MachineId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Opret opgave</button>
        <a class="btn btn-dark" asp-page="Index">Tilbage til oversigt</a>

    </form>
</div>
