@page 
@model CoffeeCrazy.Pages.Jobs.UpdateModel
@{
}

<h1>Opdater dine opgaver, samt template PAS PÅ man retter det orginale template!!!!!!!!!!!!!!!!</h1>

<input type="hidden" asp-for="JobToUpdate.JobId" />
<form method="post">
    <div>
        <label>Title</label>
        <input class="form-control" asp-for="JobToUpdate.Title" />
        <span asp-validation-for="JobToUpdate.Title" class="text-danger"></span>
    </div>

    <div>
        <label>Description</label>
        <input class="form-control" asp-for="JobToUpdate.Description" />
        <span asp-validation-for="JobToUpdate.Description" class="text-danger"></span>
    </div>

    <div>
        <label>Comment</label>
        <input class ="form-control" asp-for="JobToUpdate.Comment" />
        <span asp-validation-for="JobToUpdate.Comment" class="text-danger"></span>
    </div>

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input asp-for="JobToUpdate.IsCompleted" value="true" type="radio" class="btn-check" id="btnradio1" autocomplete="off" />
        <label class="btn btn-outline-primary" for="btnradio1">Yes</label>

        <input asp-for="JobToUpdate.IsCompleted" value="false" type="radio" class="btn-check" id="btnradio2" autocomplete="off" />
        <label class="btn btn-outline-primary" for="btnradio2">No</label>
    </div>

    <div>
        <label>Hvor tit?</label>
        <select asp-for="JobToUpdate.FrequencyId" class="form-select">

            <option value=1>Daglig</option>
            <option value=2>Ugenligt</option>
            <option value=3>Månedligt</option>

        </select>
        <span asp-validation-for="JobToUpdate.FrequencyId" class="text-danger"></span>
    </div>

    <div>
        <label>Vælg Kaffemaskine</label>
        <select asp-for="JobToUpdate.MachineId" class="form-control">
            <option value=99>Alle maskiner</option>
            @foreach (var Machine in Model.Machines)
            {
                <option value="@Machine.MachineId">@Machine.Placement</option>
            }
        </select>
        <span asp-validation-for="JobToUpdate.MachineId" class="text-danger"></span>
    </div>

    <button type="submit">Opdater</button>

</form>