@page
@model CoffeeCrazy.Pages.Jobs.UpdateModel
@{
}

<h1>Opdater dine opgaver, samt template PAS PÅ man retter det orginale template!!!!!!!!!!!!!!!!</h1>

<form method="post">

    <div>
        <label>Kommentar</label>
        <input asp-for="Job.Comment" class="form-control" />
        <span asp-validation-for="Job.Comment" class="text-danger"></span>
    </div>
    <div>
        <label>Dødslinje</label>
        <input asp-for="Job.Deadline" class="form-control" />
        <span asp-validation-for="Job.Deadline" class="text-danger"></span>
    </div>
    <div>
        <label>Udført</label>
        <input asp-for="Job.IsCompleted" type="checkbox" />
        <span asp-validation-for="Job.IsCompleted" class="text-danger"></span>
    </div>
    <div>
        <label>Udført</label>
        <input asp-for="Job.Deadline" type="date" />
        <span asp-validation-for="Job.Deadline" class="text-danger"></span>
    </div>
    <div>
        <label>Kommentar</label>
        <input asp-for="Job.Comment" class="form-control" />
        <span asp-validation-for="Job.Comment" class="text-danger"></span>
    </div>


@* Tror ikke det skal bruges 
    <h2>Job Template</h2>
    <div>
        <label for="JobTemplate_Title">Titel:</label>
        <input id="JobTemplate_Title" name="JobTemplate.Title" value="@Model.JobTemplate.Title" />
    </div>
    <div>
        <label for="JobTemplate_Description">Beskrivelse:</label>
        <textarea id="JobTemplate_Description" name="JobTemplate.Description">
            @Model.JobTemplate.Description
        </textarea>
    </div> *@

    <button type="submit">Opdater</button>
</form>